asgiref==3.8.1
Brotli==1.1.0
click==8.1.7
dj-config-url==0.1.1
dj-database-url==2.2.0
Django==4.2.14
django-browser-reload==1.13.0
django-parler==2.3
django-parler-rest==2.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.0.0
drf-nested-routers==0.94.1
filter-and-pagination==1.1.14
gunicorn==22.0.0
h11==0.14.0
packaging==24.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-dotenv==0.19.2
sqlparse==0.5.1
typing_extensions==4.12.2
uvicorn==0.30.3
whitenoise==6.7.0
